##== Environment
NODE_ENV=
MODULES_SET=

##== Application
APP_NAME=
APP_URL=
APP_PORT=
APP_DEBUG=
API_PREFIX=
APP_FALLBACK_LANGUAGE=
APP_LOG_LEVEL=
APP_LOG_SERVICE=
APP_CORS_ORIGIN=

##== Database
DATABASE_TYPE=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_LOGGING=
DATABASE_SYNCHRONIZE=
DATABASE_MAX_CONNECTIONS=
DATABASE_SSL_ENABLED=
DATABASE_REJECT_UNAUTHORIZED=
DATABASE_CA=
DATABASE_KEY=
DATABASE_CERT=

##== Redis
REDIS_HOST=
REDIS_USERNAME=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_TLS_ENABLED=

##== Mailer
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
MAIL_IGNORE_TLS=
MAIL_SECURE=
MAIL_REQUIRE_TLS=
MAIL_DEFAULT_EMAIL=
MAIL_DEFAULT_NAME=
MAIL_CLIENT_PORT=

##== Authentication
AUTH_JWT_SECRET=
AUTH_JWT_TOKEN_EXPIRES_IN=
AUTH_REFRESH_SECRET=
AUTH_REFRESH_TOKEN_EXPIRES_IN=
AUTH_FORGOT_SECRET=
AUTH_FORGOT_TOKEN_EXPIRES_IN=
AUTH_CONFIRM_EMAIL_SECRET=
AUTH_CONFIRM_EMAIL_TOKEN_EXPIRES_IN=

##== Frontend
WEB_URL=
